<div class="contact-section">
  <div class="container">
    <div class="contact-box d-flex align-items-end justify-content-end">
      <div class="contact-info-box" data-aos="fade-up"
     data-aos-duration="3000">
        <h2>We create software that works for you, not the other way around</h2>
        <p>
          Do you have any idea or project you wish to automate call us or schedule
          an appointment with us today. We believe that the key to a successful
          business is building strong relationships with our customers. When you
          call us, you can expect personalized attention and solutions tailored to
          your unique needs.
        </p>
        <div class="phone-number d-flex align-items-center">
          <div class="icon">
            <i class="bi bi-telephone-fill"></i>
          </div>
          <h4>+234 (0) 1 342 2293</h4>
        </div>
      </div>
    </div>
  </div>
</div>
