.footer {
  padding-top: 50px;
  .top {
    background: var(--color-Light-blue);

    .content-box {
      p {
        font-family: "Jost", sans-serif;
        font-size: 16px;
        color: #656567;
        text-align: justify;
        padding-top: 20px;
      }

      h4 {
        font-family: "Jost", sans-serif;
        color: var(--color-primary);
        font-size: 22px;
        padding-bottom: 20px;
      }

      ul {
        width: fit-content;
        margin-left: -32px;

        a {
          font-family: "Jost", sans-serif;
          font-size: 18px;
          text-decoration: none;
          list-style: none;
          color: var(--color-secondary);

          &:hover {
            color: var(--color-primary);
          }

          li {
            padding-bottom: 15px;
          }
        }
      }

      .contact-info {
        display: flex;
        align-items: start;
        margin-top: -20px;

        span {
          font-size: 20px;
          color: var(--color-primary);
          padding-top: 17px;
          padding-right: 10px;
        }

        p {
          font-family: "Jost", sans-serif;
          font-size: 18px;
          font-weight: 400px;
          color: #656567;
        }
      }
    }
  }

  .bottom {
    background: var(--color-primary);
    padding-top: 25px;
    padding-bottom: 15px;

    p {
      font-family: "Jost", sans-serif;
      font-size: 16px;
      font-weight: 400px;
      color: #fff;
    }
  }
}
