:host {
  --custom-background-image: url(../../../../assets/about_title_bg.jpg);
}
.the-company {
  margin-top: 100px;

  .contents {
    .spacer {
      margin-top: 100px;
      margin-bottom: 100px;
    }
    .title {
      background-image: url(../../../../assets/left_coner.png);
      background-repeat: no-repeat;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 30px;

      h2 {
        font-family: "Jost", sans-serif;
        color: var(--color-primary);
        font-size: 42px;
        font-weight: 600;
        line-height: 50.3px;
      }
    }
    p {
      font-family: "Jost", sans-serif;
      font-size: 18px;
      font-weight: 400px;
      line-height: 28px;
      color: #656567;
      text-align: justify;
      padding: 10px 0;
    }

    img {
      width: 100%;
      border-radius: 25px;
      margin: 40px 0;
    }

    .statements {
      margin-top: 40px;

      .nav-tabs {
        border-bottom: solid 2px var(--color-secondary);

        .nav-link.active {
          background: var(--color-secondary);
          border-bottom: solid 2px var(--color-secondary);
          color: white;
        }
      }
    }
  }
}
