<nav class="shadow-sm sticky-top">
  <div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-3 d-flex flex-wrap align-items-center">
      <div class="logo">
        <img src="assets/logo.png" alt="Logo">
      </div>
    </div>
    <div class="col-md-9 col-sm-9 col-9 text-end">
      <div class="menu-icon" [class.menu-icon-class]="menuIconVariable" (click)="openMenu()">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="menu" [class.menuClass]="menuVariable">
        <ul>
          <a routerLink="/"><li> Home </li></a>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Services
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/services/software-development"><li>Software Development</li></a>
            <a class="dropdown-item" routerLink="/services/web-application"><li>Web Application</li></a>
            <a class="dropdown-item" routerLink="/services/training"><li>Training</li></a>
            <a class="dropdown-item" routerLink="/services/consultancy"><li>Consultancy</li></a>
            <a class="dropdown-item" routerLink="/services/web-dev-hosting"><li>Website Development and Hosting</li></a>
          </ul>
        </li>
          <a routerLink="/products"><li> Products </li></a>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            About</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/about/the-company"><li>The Company</li></a>
            <a class="dropdown-item" routerLink="/about/portfolio"><li>Our Portfolio</li></a>
          </ul>
        </li>
          
          <a routerLink="/contact"><li> Contacts </li></a>
          
          
        </ul>
      </div>
    </div>
  </div>
</div>
</nav>


