<section class="clientele-section">
  <div class="clientele-title">
    <h2>Trusted by top brands</h2>
  </div>
  <div class="carousel-box">
    <div class="container h-100">
      <div class="row h-100">
        <div class="img-box">
          <img src="../../../assets/firstbank 1.png" alt="" />
        </div>
        <div class="img-box">
          <img src="../../../assets/fcmb 1.png" alt="" />
        </div>
        <div class="img-box">
          <img src="../../../assets/axa 1.png" alt="" />
        </div>
        <div class="img-box">
          <img src="../../../assets/HB-1 1.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
