<app-page-title [pageTitle]="pageTitle"></app-page-title>
<div class="our-portfolio">
  <div class="container">
    <div class="contents">
      <div class="title">
        <h2>Empowering Businesses through Tailored Software Solutions.</h2>
      </div>
      <p>
        The consulting team comprises staff from different backgrounds and
        experiences: engineering, computer science, banking and finance,
        accounting, economics, etc. This wealth and diversity is used in the
        execution of projects received from clients. As young as the Company, we
        have successfully implemented solutions that require understanding of
        business basic and complex rules. 2
      </p>
      <div class="row">
        <div class="col-md-3">
          <div class="portfolio-box h-100">
            <div class="card h-100">
              <div class="img-box">
                <img src="../../../../assets/fcmb 1.png" class="card-img-top" alt="FCMB" />
              </div>
              <div class="card-body">
                <h5 class="card-title">First City Monument Bank</h5>
                <p class="card-text">
                  KPI Appraisal Solution Key Performance Indicator Appraisal Solution for First City Monument Bank
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="portfolio-box h-100">
            <div class="card h-100">
              <div class="img-box">
                <img src="../../../../assets/ncca 1.png" class="card-img-top" alt="NCAA" />
              </div>
              
              <div class="card-body">
                <h5 class="card-title">Nigerian Civil Aviation Authority</h5>
                <p class="card-text">
                  Aeromedical Databank Web (Intranet) Application
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="portfolio-box h-100">
            <div class="card h-100">
              <div class="img-box">
                <img src="../../../../assets/reflex 1.png" class="card-img-top" alt="Relex" />
              </div>
              
              <div class="card-body">
                <h5 class="card-title">Reflex track</h5>
                <p class="card-text">
                  Vehicle tracking application
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="portfolio-box h-100">
            <div class="card h-100">
              <div class="img-box">
                <img src="../../../../assets/axa 1.png" class="card-img-top" alt="AXA" />
              </div>
              
              <div class="card-body">
                <h5 class="card-title">Guaranty Trust Assurance Limited (GTA)/FCMB Data Exchange Wizard</h5>
                <p class="card-text">
                  Data exchange web service and corresponding windows service between FCMB and GTA for Guaranty Trust Assurance Limited, a subsidiary of Guaranty Trust Bank
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="portfolio-box h-100">
            <div class="card h-100">
              <div class="img-box">
                <img src="../../../../assets/ncca 1.png" class="card-img-top" alt="FCMB" />
              </div>
              <div class="card-body">
                <h5 class="card-title">Nigerian Civil Aviation Authority</h5>
                <p class="card-text">
                  Licencing Databank Web (Intranet) Application
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="portfolio-box h-100">
            <div class="card h-100">
              <div class="img-box">
                <img src="../../../../assets/fcmb 1.png" class="card-img-top" alt="FCMB" />
              </div>
              
              <div class="card-body">
                <h5 class="card-title">First City Monument Bank</h5>
                <p class="card-text">
                  Training of First City Monument Bank Staff (Application Developers of Business Automation Unit) on Microsoft Dot Net Framework and Visual Basic
                </p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="portfolio-box h-100">
            <div class="card h-100">
              <div class="img-box">
                <img src="../../../../assets/axa 1.png" class="card-img-top" alt="AXA" />
              </div>
              
              <div class="card-body">
                <h5 class="card-title">Guaranty Trust Assurance Limited (GTA)/FCMB Data Exchange Wizard</h5>
                <p class="card-text">
                  Data exchange web service and corresponding windows service between FCMB and GTA for Guaranty Trust Assurance Limited, a subsidiary of Guaranty Trust Bank
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
