<div class="container welcome-section">
  <div class="row">
    <div class="col-md-6 welcome-img-box" data-aos="fade-up"
     data-aos-duration="1500">
      <div class="big-image">
        <img src="../../../assets/welcome_big_img.jpg" alt="">
      </div>
      <div class="small-image" data-aos="zoom-in" data-aos-delay="600">
        <img src="../../../assets/welcome_small_img.jpg" alt="">
      </div>
    </div>
    <div class="col-md-6 welcome-txt-box"  data-aos="zoom-in-up" data-aos-delay="300">
      <div class="welcome-txt">
        <h2>Welcome To Byaxiom Solutions Limited</h2>
        <p>
          BYAXIOM Solutions Limited is a fully registered company under the Companies & Allied Matters Act of 1990 with Registration No: RC 634374. The company’s strength lies in gathering in-depth business domain knowledge by scientifically capturing, managing system requirements and converting them into a robust design, which can withstand changes and is relatively risk free. This ensures the success of the project undertaken.
        </p>
        <button><a routerLink="/about/the-company">Read More <i class="bi bi-arrow-right"></i></a> </button>
      </div>
      
    </div>
  </div>
</div>
