<app-page-title  [pageTitle]="pageTitle"></app-page-title>>
<div class="contact">
  <div class="container">
    <div class="title">
      <h2>Let's StartSomething Great!</h2>
    </div>
    <div class="row">
      <div class="col-md-4 h-100">
        <div class="card">
          <img
            src="../../../assets/email3.jpg"
            class="card-img-top"
            alt="E-mail"
          />
          <div class="icon-box">
            <i class="bi bi-envelope-fill icon"></i>
          </div>
          <div
            class="card-body d-flex flex-column align-items-center mt-3 pt-5"
          >
            <h5 class="card-title">Email</h5>
            <p class="card-text">
              <a href="mailto:info@byaxiom.com">info@byaxiom.com</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 h-100">
        <div class="card">
          <img
            src="../../../assets/call2.jpg"
            class="card-img-top"
            alt="E-mail"
          />
          <div class="icon-box">
            <i class="bi bi-telephone-fill icon"></i>
          </div>
          <div
            class="card-body d-flex flex-column align-items-center mt-3 pt-5"
          >
            <h5 class="card-title">Call Us</h5>
            <p class="card-text">
              <a href="tel:+234 (0) 1 342 2293">+234 (0) 1 342 2293</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 h-100">
        <div class="card">
          <img
            src="../../../assets/visit3.jpg"
            class="card-img-top"
            alt="E-mail"
          />
          <div class="icon-box">
            <i class="bi bi-geo-alt-fill icon"></i>
          </div>
          <div
            class="card-body d-flex flex-column align-items-center mt-3 pt-5"
          >
            <h5 class="card-title">Visit Us</h5>
            <p class="card-text">
              <a
                href="https://www.google.com/maps/place/6+Mojidi+St,+Allen+101233,+Lagos/@6.5976837,3.3444932,17.7z/data=!4m10!1m2!2m1!1s6+Mojidi+St+Allen+101233+Lagos!3m6!1s0x103b9225664066a1:0x8b060eddac740fea!8m2!3d6.5988666!4d3.3474944!15sCh42IE1vamlkaSBTdCBBbGxlbiAxMDEyMzMgTGFnb3OSARBnZW9jb2RlZF9hZGRyZXNz4AEA!16s%2Fg%2F11g8_1y6dq?hl=en-GB&entry=ttu"
                target="_blank"
                >6, Mojidi Street, Off Toyin Street, Ikeja, Lagos State,
                Nigeria.</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="contact-form">
      <div class="form-title">
        <h2>You may also contact us through the form below.</h2>
      </div>
      <div class="form-area">
        <div class="row">
          <div class="col-md-6 contact-form-img">
            <img
              src="../../../assets/contact_form_img.jpg"
              alt="future contact"
            />
          </div>
          <div class="col-md-6 contact-form">
            <div *ngIf="success"
              class="alert alert-success alert-dismissible fade show"
              role="alert"
            >
              <i class="bi bi-check-circle-fill"></i><strong> Your message!</strong> was sent successfully
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>
            <div *ngIf="error"
              class="alert alert-danger alert-dismissible fade show"
              role="alert"
            >
              <i class="bi bi-check-circle-fill"></i><strong> Your message!</strong> was not sent
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>
            <form class="row g-3" (submit)="sendEmail($event)" [formGroup]="mailForm">
              <div class="form-floating mb-3 col-md-6">
                <i class="bi bi-person icon"></i>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="Name"
                  name="from_name"
                />
                <label for="name">Name</label>
              </div>
              <div class="form-floating mb-3 col-md-6">
                <i class="bi bi-envelope icon"></i>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="Email"
                  name="from_email"
                />
                <label for="email">Email</label>
              </div>
              <div class="form-floating mb-3 col-md-6">
                <i class="bi bi-telephone icon"></i>
                <input
                  type="text"
                  class="form-control"
                  id="phone"
                  placeholder="Phone"
                  name="phone"
                />
                <label for="email">Phone</label>
              </div>
              <div class="form-floating mb-3 col-md-6">
                <i class="bi bi-chat-quote icon"></i>
                <input
                  type="text"
                  class="form-control"
                  id="subject"
                  placeholder="Subject"
                  name="subject"
                />
                <label for="subject">Subject</label>
              </div>
              <div class="form-floating">
                <i class="bi bi-pen icon"></i>
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="floatingTextarea2"
                  style="height: 100px"
                  name="message"
                ></textarea>
                <label for="floatingTextarea2">Comments</label>
              </div>
              <div class="col-12">
                <button type="submit" class="btn submit-btn">Send Message</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
