<div class="container products-section">
  <div class="section-title">
    <h2>Our Software Solutions</h2>
  </div>
  <div class="row">
    <!-- <div class="product-row d-flex"> -->
    <div class="col-md-3 p-1">
      <div class="product-box-container">
        <a routerLink="/products/staff-manager">
        <div
          class="product-box"
          style="background-image: url(../../../assets/hr_manager.jpg)"
        >
          <div class="products">
            <div class="product-icon">
              <img
                src="../../../assets/staffManager.svg"
                alt="Staff Manage Icon"
              />
            </div>
            <div class="product-name">Byaxiom StaffManager</div>
          </div>
        </div>
        </a>
      </div>
    </div>
    <div class="col-md-3 p-1">
      <div class="product-box-container">
        <a routerLink="/products/farm-manager">
        <div
          class="product-box"
          style="background-image: url(../../../assets/farm_manger.jpg)"
        >
          <div class="products">
            <div class="product-icon">
              <img
                src="../../../assets/farmManger.svg"
                alt="Farm Manager Icon"
              />
            </div>
            <div class="product-name">Byaxiom FarmManager</div>
          </div>
        </div>
        </a>
      </div>
    </div>
    <div class="col-md-3 p-1">
      <div class="product-box-container">
        <a routerLink="/products/pool-sol">
        <div
          class="product-box"
          style="background-image: url(../../../assets/pool_sol.jpg)"
        >
          <div class="products">
            <div class="product-icon">
              <img src="../../../assets/poolsol.svg" alt="Poolsol Icon" />
            </div>
            <div class="product-name">Byaxiom Poolsol</div>
          </div>
        </div>
        </a>
      </div>
    </div>
    <div class="col-md-3 p-1">
      <div class="product-box-container">
        <a routerLink="/products/school-manager">
          <div
            class="product-box"
            style="background-image: url(../../../assets/school_manager.jpg)"
          >
            <div class="products">
              <div class="product-icon">
                <img
                  src="../../../assets/schoolManager.png"
                  alt="School Manager Icon"
                />
              </div>
              <div class="product-name">Byaxiom SchoolManager</div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- </div> -->
  </div>
</div>

