/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "~bootstrap-icons/font/bootstrap-icons.css";


:root {
  --color-primary: #033357;
  --color-secondary: rgb(10, 112, 199);
  --color-thirtiary: #0977D0;
  --color-Light-blue: #F6F9FE;
  --color-text: #656567;
  --color-footer-link: #242424;
  $primary-color: #033357;

}

body {
  font-family: 'Jost', sans-serif;
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
