<div class="services-menu">
  <div class="title">
    <h2>Our Services</h2>
  </div>
  <ul class="menu">
    <a class="menu-item" routerLink="/services/software-development" routerLinkActive="active"><li>Software Development</li></a>
          <a class="menu-item" routerLink="/services/web-application" routerLinkActive="active"><li>Web Application</li></a>
          <a class="menu-item" routerLink="/services/training" routerLinkActive="active"><li>Training</li></a>
          <a class="menu-item" routerLink="/services/consultancy" routerLinkActive="active"><li>Consultancy</li></a>
          <a class="menu-item" routerLink="/services/web-dev-hosting" routerLinkActive="active"><li>Website Development and Hosting</li></a>
  </ul>
</div>