<div class="product-menu">
  <div class="title">
    <h2>Our Services</h2>
  </div>
  <ul class="menu">
    <a class="menu-item" routerLink="/products/staff-manager" routerLinkActive="active"><li>Byaxiom StaffManager</li></a>
          <a class="menu-item" routerLink="/products/farm-manager" routerLinkActive="active"><li>Byaxiom FarmManager</li></a>
          <a class="menu-item" routerLink="/products/pool-sol" routerLinkActive="active"><li>Byaxiom Poolsol</li></a>
          <a class="menu-item" routerLink="/products/school-manager" routerLinkActive="active"><li>Byaxiom SchoolManager</li></a>
  </ul>
</div>